.navbar {
  transition: 200ms;
   & .dropdown .dropdown-content {
    border-radius: 0;
    box-shadow: 4px 16px 34px 7px #b0c0c545 !important;

    &::before {
      width: 24px;
      height: 24px;
    }
  }
}

.icon-pill {
  box-shadow: 1px 0px 34px 8px #b0c0c545, 3px 30px 20px 0px #b0c0c50f !important;
}

.font-highlight {
  font-family: 'Source Code Pro', monospace !important;
}

.grant-btn {
  padding: 10px 100px !important;
  border-radius: 100px !important; 
  font-size: 1.5em !important;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.owl-dot { 
  margin: 10px 10px;
  color: #212923;
  border: none;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  transition: 400ms cubic-bezier(0.75, 0.25, 0, 1);

  &.active {
   background-color: #90f1af;
  }
}