.navbar {
  transition: 200ms;
   & .dropdown .dropdown-content {
    border-radius: 0;
    box-shadow: 4px 16px 34px 7px #b0c0c545 !important;

    &::before {
      width: 24px;
      height: 24px;
    }
  }
}

.icon-pill {
  box-shadow: 1px 0px 34px 8px #b0c0c545, 3px 30px 20px 0px #b0c0c50f !important;
}

.font-highlight {
  font-family: 'Source Code Pro', monospace !important;
}

.grant-btn {
  padding: 10px 100px !important;
  border-radius: 100px !important; 
  font-size: 1.5em !important;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.owl-dot { 
  margin: 10px 10px;
  color: #212923;
  border: none;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  transition: 400ms cubic-bezier(0.75, 0.25, 0, 1);

  &.active {
   background-color: #90f1af;
  }
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy-ExtraBold.eot');
  src: local('gilroy ExtraBold'), local('gilroy-ExtraBold'),
    url('../fonts/gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gilroy-ExtraBold.woff') format('woff'),
    url('../fonts/gilroy-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy-Heavy.eot');
  src: local('gilroy Heavy'), local('gilroy-Heavy'),
    url('../fonts/gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gilroy-Heavy.woff') format('woff'),
    url('../fonts/gilroy-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy-LightItalic.eot');
  src: local('gilroy Light Italic'), local('gilroy-LightItalic'),
    url('../fonts/gilroy-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gilroy-LightItalic.woff') format('woff'),
    url('../fonts/gilroy-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy-ThinItalic.eot');
  src: local('gilroy Thin Italic'), local('gilroy-ThinItalic'),
    url('../fonts/gilroy-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gilroy-ThinItalic.woff') format('woff'),
    url('../fonts/gilroy-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy-BlackItalic.eot');
  src: local('gilroy Black Italic'), local('gilroy-BlackItalic'),
    url('../fonts/gilroy-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gilroy-BlackItalic.woff') format('woff'),
    url('../fonts/gilroy-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy-BoldItalic.eot');
  src: local('gilroy Bold Italic'), local('gilroy-BoldItalic'),
    url('../fonts/gilroy-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gilroy-BoldItalic.woff') format('woff'),
    url('../fonts/gilroy-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy-SemiBold.eot');
  src: local('gilroy SemiBold'), local('gilroy-SemiBold'),
    url('../fonts/gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gilroy-SemiBold.woff') format('woff'),
    url('../fonts/gilroy-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy-UltraLightItalic.eot');
  src: local('gilroy UltraLight Italic'), local('gilroy-UltraLightItalic'),
    url('../fonts/gilroy-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gilroy-UltraLightItalic.woff') format('woff'),
    url('../fonts/gilroy-UltraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy-SemiBoldItalic.eot');
  src: local('gilroy SemiBold Italic'), local('gilroy-SemiBoldItalic'),
    url('../fonts/gilroy-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gilroy-SemiBoldItalic.woff') format('woff'),
    url('../fonts/gilroy-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy-Light.eot');
  src: local('gilroy Light'), local('gilroy-Light'),
    url('../fonts/gilroy-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gilroy-Light.woff') format('woff'),
    url('../fonts/gilroy-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy-MediumItalic.eot');
  src: local('gilroy Medium Italic'), local('gilroy-MediumItalic'),
    url('../fonts/gilroy-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gilroy-MediumItalic.woff') format('woff'),
    url('../fonts/gilroy-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy-ExtraBoldItalic.eot');
  src: local('gilroy ExtraBold Italic'), local('gilroy-ExtraBoldItalic'),
    url('../fonts/gilroy-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gilroy-ExtraBoldItalic.woff') format('woff'),
    url('../fonts/gilroy-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy-Regular.eot');
  src: local('gilroy Regular'), local('gilroy-Regular'),
    url('../fonts/gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gilroy-Regular.woff') format('woff'),
    url('../fonts/gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy-HeavyItalic.eot');
  src: local('gilroy Heavy Italic'), local('gilroy-HeavyItalic'),
    url('../fonts/gilroy-HeavyItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gilroy-HeavyItalic.woff') format('woff'),
    url('../fonts/gilroy-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy-Medium.eot');
  src: local('gilroy Medium'), local('gilroy-Medium'),
    url('../fonts/gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gilroy-Medium.woff') format('woff'),
    url('../fonts/gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy-RegularItalic.eot');
  src: local('gilroy Regular Italic'), local('gilroy-RegularItalic'),
    url('../fonts/gilroy-RegularItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gilroy-RegularItalic.woff') format('woff'),
    url('../fonts/gilroy-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy-UltraLight.eot');
  src: local('gilroy UltraLight'), local('gilroy-UltraLight'),
    url('../fonts/gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gilroy-UltraLight.woff') format('woff'),
    url('../fonts/gilroy-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy-Bold.eot');
  src: local('gilroy Bold'), local('gilroy-Bold'),
    url('../fonts/gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gilroy-Bold.woff') format('woff'),
    url('../fonts/gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy-Thin.eot');
  src: local('gilroy Thin'), local('gilroy-Thin'),
    url('../fonts/gilroy-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gilroy-Thin.woff') format('woff'),
    url('../fonts/gilroy-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy-Black.eot');
  src: local('gilroy Black'), local('gilroy-Black'),
    url('../fonts/gilroy-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gilroy-Black.woff') format('woff'),
    url('../fonts/gilroy-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}