@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:500&display=swap");
.navbar {
  transition: 200ms; }
  .navbar .dropdown .dropdown-content {
    border-radius: 0;
    box-shadow: 4px 16px 34px 7px #b0c0c545 !important; }
    .navbar .dropdown .dropdown-content::before {
      width: 24px;
      height: 24px; }

.icon-pill {
  box-shadow: 1px 0px 34px 8px #b0c0c545, 3px 30px 20px 0px #b0c0c50f !important; }

.font-highlight {
  font-family: 'Source Code Pro', monospace !important; }

button, a {
  font-family: 'Source Code Pro', monospace !important;
  font-weight: 500 !important;
  font-size: 13px !important; }

.btn-mad {
  border-radius: 25px;
  padding: 10px 25px;
  background-color: #45ca8c;
  box-shadow: none !important; }
  .btn-mad:hover {
    background-color: #31ab72; }
  .btn-mad:active {
    background-color: #258458; }

.btn-highlight {
  box-shadow: 1px -5px 34px 8px #b0c0c545, 3px 30px 20px 0px #b0c0c50f !important; }

.bg-mad-grad {
  background: linear-gradient(150deg, #90f1af, #45ca8c); }

.logo-small {
  display: none;
  height: auto;
  align-items: center; }

@media screen and (max-width: 1000px) {
  .logo-small {
    display: flex; } }
@media screen and (min-width: 1000px) {
  .logo {
    display: inline-block; } }
.navbar-active {
  background-color: white;
  box-shadow: 3px 30px 20px 0px #b0c0c50f; }
  .navbar-active .logo {
    padding-left: 10px; }

.logo {
  transition: 200ms; }

.text-section h1 {
  margin: 0;
  line-height: 1em;
  text-transform: uppercase;
  font-size: 64px;
  color: #dae7fa; }
.text-section h2 {
  margin: 0;
  line-height: 0.7em;
  text-transform: uppercase;
  font-size: 124px;
  color: #dae7fa; }

.header {
  height: 100vh;
  width: 100%;
  display: block;
  overflow-x: visible; }
  .header .header-content {
    position: relative;
    top: 40%;
    transform: translateY(-50%); }
    .header .header-content .hero-bg {
      z-index: -1;
      border-radius: 32px;
      transform: rotate(45deg);
      position: absolute;
      background-color: #f3f7fd;
      height: 200vh;
      width: 50%;
      top: -130vh;
      right: -40%; }

.how-we-work {
  position: relative; }
  .how-we-work .image-section .text-section {
    width: 50vw;
    z-index: 4;
    position: absolute;
    top: -30%;
    left: -0%;
    text-align: left; }
  .how-we-work .details-section {
    z-index: 5; }
  .how-we-work .hero-ambient-1 {
    z-index: -2;
    border-radius: 32px;
    transform: rotate(45deg);
    position: absolute;
    background-color: #f3f7fd;
    height: 40vh;
    width: 50%;
    left: -30%; }
  .how-we-work .hero-ambient-2 {
    z-index: -2;
    border-radius: 32px;
    transform: rotate(45deg);
    position: absolute;
    background-color: #f3f7fd;
    height: 48px;
    width: 100px;
    left: -15%;
    top: -60%; }
  .how-we-work .hero-ambient-3 {
    z-index: -2;
    border-radius: 32px;
    transform: rotate(45deg);
    position: absolute;
    background-color: #f3f7fd;
    height: 48px;
    width: 100px;
    left: -5%;
    top: 150%; }

@media screen and (max-width: 1000px) {
  .image-section .text-section {
    top: -20% !important; } }
@media screen and (max-width: 750px) {
  .image-section .text-section {
    top: 0% !important; }

  .header .header-content {
    top: 70%;
    transform: translateY(-50%); }

  .how-we-work {
    margin-top: 200px; } }
@media screen and (max-width: 634px) {
  .text-section h1 {
    font-size: 32px !important; }
  .text-section h2 {
    font-size: 48px !important; } }
@media screen and (max-height: 532px) {
  .image-section .text-section {
    top: -20% !important; } }
@media screen and (max-height: 442px) {
  .image-section .text-section {
    top: 0% !important; } }
.contact-us .form-contact-us {
  width: 50%;
  height: 64px;
  box-shadow: 1px 5px 34px 8px #b0c0c545, 3px 30px 20px 0px #b0c0c50f !important; }
  .contact-us .form-contact-us:hover {
    box-shadow: 1px 5px 34px 8px #a3b2b665, 3px 30px 20px 0px #b0c0c50f !important; }
.contact-us .btn-form {
  height: 64px;
  border-radius: 100px;
  font-size: 20px !important; }
.contact-us .details-section p {
  width: 100%; }

@media screen and (max-width: 750px) {
  .form-contact-us {
    width: 100% !important; } }

/*# sourceMappingURL=style.css.map */
