@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:500&display=swap');
@import "_custom";

button, a {
  font-family: 'Source Code Pro', monospace !important;
  font-weight: 500 !important;
  font-size: 13px !important;
}

// Custom Global Classes

.btn-mad {
  border-radius: 25px;
  padding: 10px 25px;
  background-color: #45ca8c;
  box-shadow: none !important;

  &:hover {
    background-color: darken(#45ca8c, 10%);
  }

  &:active {
    background-color: darken(#45ca8c, 20%);
  }
}

.btn-highlight {
  box-shadow: 1px -5px 34px 8px #b0c0c545, 3px 30px 20px 0px #b0c0c50f !important;
}

.bg-mad-grad {
  background: linear-gradient(150deg, #90f1af, #45ca8c);
}

.logo-small {
  display: none;
  height: auto;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .logo-small {
    display: flex;
  }
}

@media screen and (min-width: 1000px) {
  .logo {
    display: inline-block;
  }
}

// Hero

.navbar-active {
  background-color: white;
  box-shadow: 3px 30px 20px 0px #b0c0c50f;

  & .logo {
    padding-left: 10px;
  }
}

.logo {
  transition: 200ms;
}

.text-section {

  & h1 {
    margin: 0;
    line-height: 1em;
    text-transform: uppercase;
    font-size: 64px;
    color: #dae7fa;
  }

  & h2 {
    margin: 0;
    line-height: 0.7em;
    text-transform: uppercase;
    font-size: 124px;
    color: #dae7fa;
  }
}

.header {
  height: 100vh;
  width: 100%;
  display: block;
  overflow-x: visible;

  & .header-content {
    position: relative;
    top: 40%;
    transform: translateY(-50%);

    & .hero-bg {
      z-index: -1;
      border-radius: 32px;
      transform: rotate(45deg);
      position: absolute;
      background-color: #f3f7fd;
      height: 200vh;
      width: 50%;
      top: -130vh;
      right: -40%;
    }
  }
}

.how-we-work {
  position: relative;

  .image-section {

    .text-section {
      width: 50vw;
      z-index: 4;
      position: absolute;
      top: -30%;
      left: -0%;
      text-align: left;
    }

  }

  .details-section {
    z-index: 5;

    & h6 {
      font-size: 22px;
    }

    & p {
      font-size: 22px;
    }
  }

  .hero-ambient-1 {
    z-index: -2;
    border-radius: 32px;
    transform: rotate(45deg);
    position: absolute;
    background-color: #f3f7fd;
    height: 40vh;
    width: 50%;
    left: -30%;
  }

  .hero-ambient-2 {
    z-index: -2;
    border-radius: 32px;
    transform: rotate(45deg);
    position: absolute;
    background-color: #f3f7fd;
    height: 48px;
    width: 100px;
    left: -15%;
    top: -60%;
  }

  .hero-ambient-3 {
    z-index: -2;
    border-radius: 32px;
    transform: rotate(45deg);
    position: absolute;
    background-color: #f3f7fd;
    height: 48px;
    width: 100px;
    left: -5%;
    top: 150%;
  }
}

.prototype {
  position: relative;

  .image-section {
    transform-style: preserve-3d;
    perspective: 1000px;

    .text-section {
      width: 50vw;
      z-index: 4;
      position: absolute;
      top: -30%;
      left: -0%;
      text-align: left;
    }

  }

  .details-section {
    z-index: 5;

    & h6 {
      font-size: 22px;
    }

    & p {
      font-size: 22px;
    }
  }

  .hero-ambient-1 {
    z-index: -2;
    border-radius: 32px;
    transform: rotate(45deg);
    position: absolute;
    background-color: #f3f7fd;
    height: 40vh;
    width: 50%;
    left: -30%;
  }

  .hero-ambient-2 {
    z-index: -2;
    border-radius: 32px;
    transform: rotate(45deg);
    position: absolute;
    background-color: #f3f7fd;
    height: 48px;
    width: 100px;
    left: 50%;
    top: -60%;
  }

  .hero-ambient-3 {
    z-index: -2;
    border-radius: 32px;
    transform: rotate(45deg);
    position: absolute;
    background-color: #f3f7fd;
    height: 48px;
    width: 100px;
    left: -5%;
    top: 150%;
  }
}

.portfolio-item {
  position: relative;
  margin-top: 250px;

  .image-section {
    transform-style: preserve-3d;
    perspective: 1000px;

    .text-section {
      width: 50vw;
      z-index: 4;
      position: absolute;

      &.left {
        top: -10%;
        left: 0;
      }

      &.right {
        top: -10%;
        right: 0;
      }
    }

  }

  .details-section {
    z-index: 5;

    & h6 {
      font-size: 22px;
    }

    & p {
      font-size: 22px;
    }
  }

  .hero-ambient-1 {
    z-index: -2;
    border-radius: 32px;
    transform: rotate(45deg);
    position: absolute;
    background-color: #f3f7fd;
    height: 40vh;
    width: 50%;
    left: -30%;
  }
}

.details {
  margin-top: 250px;
  position: relative;

  .image-section {
    transform-style: preserve-3d;
    perspective: 1000px;

    .text-section {
      width: 50vw;
      z-index: 4;
      position: absolute;
      top: -5%;
      right: 0%;
    }

  }

  .details-section {
    z-index: 5;

    & h6 {
      font-size: 22px;
    }

    & p {
      font-size: 22px;
    }
  }

  .hero-ambient-1 {
    z-index: -2;
    border-radius: 32px;
    transform: rotate(-45deg);
    position: absolute;
    background-color: #f3f7fd;
    height: 40vh;
    width: 100%;
    left: 70%;
  }

  .hero-ambient-2 {
    z-index: -2;
    border-radius: 32px;
    transform: rotate(45deg);
    position: absolute;
    background-color: #f3f7fd;
    height: 48px;
    width: 100px;
    left: 50%;
    top: -60%;
  }

  .hero-ambient-3 {
    z-index: -2;
    border-radius: 32px;
    transform: rotate(45deg);
    position: absolute;
    background-color: #f3f7fd;
    height: 48px;
    width: 100px;
    left: -5%;
    top: 150%;
  }
}

.image-display-pane {
  border-radius: 16px;
  box-shadow: 1px -5px 34px 8px #b0c0c545, 3px 30px 20px 0px #b0c0c50f;

  &.right {
    transform: rotateY(20deg) rotateX(10deg) rotateZ(5deg);
    box-shadow: -17px 20px 34px 8px #b0c0c5a6, 3px 30px 20px 0px #b0c0c50f !important;
  }

  &.left {
    transform: rotateY(-20deg) rotateX(10deg) rotateZ(0deg);
    box-shadow: 17px 20px 34px 8px #b0c0c5a6, 3px 30px 20px 0px #b0c0c50f !important;
  }
}

@media screen and (max-width: 1000px) {

  .image-section .text-section {
    top: -20% !important;
  }
}

@media screen and (max-width: 750px) {

  .image-section .text-section {
    top: 0% !important;
  }

  .header .header-content {
    top: 70%;
    transform: translateY(-50%);
  }

  .how-we-work {
    margin-top: 200px;
  }
}

@media screen and (max-width: 634px) {

  .text-section {

    & h1 {
      font-size: 32px !important;
    }

    & h2 {
      font-size: 48px !important;
    }
  }

}

@media screen and (max-height: 532px) {

  .image-section .text-section {
    top: -20% !important;
  }
}

@media screen and (max-height: 442px) {

  .image-section .text-section {
    top: 0% !important;
  }
}

.contact-us {

  .form-contact-us {
    width: 50%;
    height: 64px;
    box-shadow: 1px 5px 34px 8px #b0c0c545, 3px 30px 20px 0px #b0c0c50f !important;

    &:hover {
      box-shadow: 1px 5px 34px 8px #a3b2b665, 3px 30px 20px 0px #b0c0c50f !important;
    }
  }

  .btn-form {
    height: 64px;
    border-radius: 100px;
    font-size: 20px !important;
  }

  .details-section {

    & p {
      width: 100%;
    }
  }
}

@media screen and (max-width: 750px) {

  .form-contact-us {
    width: 100% !important;
  }

}

.person {
  margin: 12px 24px;
  z-index: 10;
  text-align: center;
  padding: 24px 12px;
  background-color: #ebeef2;
  border-radius: 16px;

  & img {
    background-color: #dbdee3;
    padding: 0px;
    border-radius: 1000px;
  }

  & h1 {
    margin: 0;
    font-size: 32px;
  }

  & h2 {
    margin: 0;
    color: rgb(156, 163, 173);
    font-size: 24px;
  }
}
