@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:500&display=swap");
.navbar {
  transition: 200ms; }
  .navbar .dropdown .dropdown-content {
    border-radius: 0;
    box-shadow: 4px 16px 34px 7px #b0c0c545 !important; }
    .navbar .dropdown .dropdown-content::before {
      width: 24px;
      height: 24px; }

.icon-pill {
  box-shadow: 1px 0px 34px 8px #b0c0c545, 3px 30px 20px 0px #b0c0c50f !important; }

.font-highlight {
  font-family: 'Source Code Pro', monospace !important; }

button, a {
  font-family: 'Source Code Pro', monospace !important;
  font-weight: 500 !important;
  font-size: 13px !important; }

.btn-mad {
  border-radius: 25px;
  padding: 10px 25px;
  background-color: #45ca8c;
  box-shadow: none !important; }
  .btn-mad:hover {
    background-color: #31ab72; }
  .btn-mad:active {
    background-color: #258458; }

.btn-highlight {
  box-shadow: 1px -5px 34px 8px #b0c0c545, 3px 30px 20px 0px #b0c0c50f !important; }

.bg-mad-grad {
  background: linear-gradient(150deg, #90f1af, #45ca8c); }

.logo-small {
  display: none;
  height: auto;
  align-items: center; }

@media screen and (max-width: 1000px) {
  .logo-small {
    display: flex; } }
@media screen and (min-width: 1000px) {
  .logo {
    display: inline-block; } }
.navbar-active {
  background-color: white;
  box-shadow: 3px 30px 20px 0px #b0c0c50f; }
  .navbar-active .logo {
    padding-left: 10px; }

.logo {
  transition: 200ms; }

.text-section h1 {
  margin: 0;
  line-height: 1em;
  text-transform: uppercase;
  font-size: 64px;
  color: #dae7fa; }
.text-section h2 {
  margin: 0;
  line-height: 0.7em;
  text-transform: uppercase;
  font-size: 124px;
  color: #dae7fa; }

.header {
  height: 100vh;
  width: 100%;
  display: block;
  overflow-x: visible; }
  .header .header-content {
    position: relative;
    top: 40%;
    transform: translateY(-50%); }
    .header .header-content .hero-bg {
      z-index: -1;
      border-radius: 32px;
      transform: rotate(45deg);
      position: absolute;
      background-color: #f3f7fd;
      height: 200vh;
      width: 50%;
      top: -130vh;
      right: -40%; }

.how-we-work {
  position: relative; }
  .how-we-work .image-section .text-section {
    width: 50vw;
    z-index: 4;
    position: absolute;
    top: -30%;
    left: -0%;
    text-align: left; }
  .how-we-work .details-section {
    z-index: 5; }
    .how-we-work .details-section h6 {
      font-size: 22px; }
    .how-we-work .details-section p {
      font-size: 22px; }
  .how-we-work .hero-ambient-1 {
    z-index: -2;
    border-radius: 32px;
    transform: rotate(45deg);
    position: absolute;
    background-color: #f3f7fd;
    height: 40vh;
    width: 50%;
    left: -30%; }
  .how-we-work .hero-ambient-2 {
    z-index: -2;
    border-radius: 32px;
    transform: rotate(45deg);
    position: absolute;
    background-color: #f3f7fd;
    height: 48px;
    width: 100px;
    left: -15%;
    top: -60%; }
  .how-we-work .hero-ambient-3 {
    z-index: -2;
    border-radius: 32px;
    transform: rotate(45deg);
    position: absolute;
    background-color: #f3f7fd;
    height: 48px;
    width: 100px;
    left: -5%;
    top: 150%; }

.prototype {
  position: relative; }
  .prototype .image-section {
    transform-style: preserve-3d;
    perspective: 1000px; }
    .prototype .image-section .text-section {
      width: 50vw;
      z-index: 4;
      position: absolute;
      top: -30%;
      left: -0%;
      text-align: left; }
  .prototype .details-section {
    z-index: 5; }
    .prototype .details-section h6 {
      font-size: 22px; }
    .prototype .details-section p {
      font-size: 22px; }
  .prototype .hero-ambient-1 {
    z-index: -2;
    border-radius: 32px;
    transform: rotate(45deg);
    position: absolute;
    background-color: #f3f7fd;
    height: 40vh;
    width: 50%;
    left: -30%; }
  .prototype .hero-ambient-2 {
    z-index: -2;
    border-radius: 32px;
    transform: rotate(45deg);
    position: absolute;
    background-color: #f3f7fd;
    height: 48px;
    width: 100px;
    left: 50%;
    top: -60%; }
  .prototype .hero-ambient-3 {
    z-index: -2;
    border-radius: 32px;
    transform: rotate(45deg);
    position: absolute;
    background-color: #f3f7fd;
    height: 48px;
    width: 100px;
    left: -5%;
    top: 150%; }

.portfolio-item {
  position: relative;
  margin-top: 250px; }
  .portfolio-item .image-section {
    transform-style: preserve-3d;
    perspective: 1000px; }
    .portfolio-item .image-section .text-section {
      width: 50vw;
      z-index: 4;
      position: absolute; }
      .portfolio-item .image-section .text-section.left {
        top: -10%;
        left: 0; }
      .portfolio-item .image-section .text-section.right {
        top: -10%;
        right: 0; }
  .portfolio-item .details-section {
    z-index: 5; }
    .portfolio-item .details-section h6 {
      font-size: 22px; }
    .portfolio-item .details-section p {
      font-size: 22px; }
  .portfolio-item .hero-ambient-1 {
    z-index: -2;
    border-radius: 32px;
    transform: rotate(45deg);
    position: absolute;
    background-color: #f3f7fd;
    height: 40vh;
    width: 50%;
    left: -30%; }

.details {
  margin-top: 250px;
  position: relative; }
  .details .image-section {
    transform-style: preserve-3d;
    perspective: 1000px; }
    .details .image-section .text-section {
      width: 50vw;
      z-index: 4;
      position: absolute;
      top: -5%;
      right: 0%; }
  .details .details-section {
    z-index: 5; }
    .details .details-section h6 {
      font-size: 22px; }
    .details .details-section p {
      font-size: 22px; }
  .details .hero-ambient-1 {
    z-index: -2;
    border-radius: 32px;
    transform: rotate(-45deg);
    position: absolute;
    background-color: #f3f7fd;
    height: 40vh;
    width: 100%;
    left: 70%; }
  .details .hero-ambient-2 {
    z-index: -2;
    border-radius: 32px;
    transform: rotate(45deg);
    position: absolute;
    background-color: #f3f7fd;
    height: 48px;
    width: 100px;
    left: 50%;
    top: -60%; }
  .details .hero-ambient-3 {
    z-index: -2;
    border-radius: 32px;
    transform: rotate(45deg);
    position: absolute;
    background-color: #f3f7fd;
    height: 48px;
    width: 100px;
    left: -5%;
    top: 150%; }

.image-display-pane {
  border-radius: 16px;
  box-shadow: 1px -5px 34px 8px #b0c0c545, 3px 30px 20px 0px #b0c0c50f; }
  .image-display-pane.right {
    transform: rotateY(20deg) rotateX(10deg) rotateZ(5deg);
    box-shadow: -17px 20px 34px 8px #b0c0c5a6, 3px 30px 20px 0px #b0c0c50f !important; }
  .image-display-pane.left {
    transform: rotateY(-20deg) rotateX(10deg) rotateZ(0deg);
    box-shadow: 17px 20px 34px 8px #b0c0c5a6, 3px 30px 20px 0px #b0c0c50f !important; }

@media screen and (max-width: 1000px) {
  .image-section .text-section {
    top: -20% !important; } }
@media screen and (max-width: 750px) {
  .image-section .text-section {
    top: 0% !important; }

  .header .header-content {
    top: 70%;
    transform: translateY(-50%); }

  .how-we-work {
    margin-top: 200px; } }
@media screen and (max-width: 634px) {
  .text-section h1 {
    font-size: 32px !important; }
  .text-section h2 {
    font-size: 48px !important; } }
@media screen and (max-height: 532px) {
  .image-section .text-section {
    top: -20% !important; } }
@media screen and (max-height: 442px) {
  .image-section .text-section {
    top: 0% !important; } }
.contact-us .form-contact-us {
  width: 50%;
  height: 64px;
  box-shadow: 1px 5px 34px 8px #b0c0c545, 3px 30px 20px 0px #b0c0c50f !important; }
  .contact-us .form-contact-us:hover {
    box-shadow: 1px 5px 34px 8px #a3b2b665, 3px 30px 20px 0px #b0c0c50f !important; }
.contact-us .btn-form {
  height: 64px;
  border-radius: 100px;
  font-size: 20px !important; }
.contact-us .details-section p {
  width: 100%; }

@media screen and (max-width: 750px) {
  .form-contact-us {
    width: 100% !important; } }
.person {
  margin: 12px 24px;
  z-index: 10;
  text-align: center;
  padding: 24px 12px;
  background-color: #f3f7fd;
  border-radius: 16px;
  position: relative; }
  .person img {
    background-color: #dae7fa;
    padding: 0px;
    border-radius: 1000px; }
  .person h1 {
    margin: 0;
    z-index: 10;
    font-size: 32px;
    color: #45ca8c;
    font-weight: 400; }
  .person .role-section {
    display: inline-block;
    position: absolute;
    bottom: 12px;
    right: 12px;
    text-align: right;
    color: #dae7fa;
    z-index: -1; }
    .person .role-section h1 {
      margin: 0;
      line-height: 1em;
      text-transform: uppercase;
      font-size: 32px;
      font-weight: 700;
      color: #dae7fa; }
    .person .role-section h2 {
      margin: 0;
      line-height: 0.7em;
      text-transform: uppercase;
      font-size: 64px;
      color: #dae7fa; }

/*# sourceMappingURL=style.css.map */
