@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:500&display=swap');
@import url('https://use.typekit.net/dlr2yjq.css');
@import "_custom";
@import url('https://raw.githubusercontent.com/Mad-Marketing/fonts/0b89a6cc21c97720b071272277afadd2131a55ed/fonts.css');

button, a {
  font-family: 'urbane', monospace !important;
  font-weight: 500 !important;
  font-size: 13px !important;
}

// Custom Global Classes

.btn-mad {
  border-radius: 25px;
  padding: 10px 25px;
  background-color: #45ca8c;
  box-shadow: none !important;

  &:hover {
    background-color: darken(#45ca8c, 10%);
  }

  &:active {
    background-color: darken(#45ca8c, 20%);
  }
}

.btn-text-animate {
  overflow: hidden;
  position: relative;

  &::before {
    content: attr(btn-text);
    font-family: 'urbane', monospace !important;
    font-weight: 500;
    transition: 200ms;
    font-size: inherit;
    display: block;
    opacity: 0;
    position: absolute;
    transform: translateY(-75%);
  }

  &.text-toggle {

    &::before {
      color: blue;
    }
  }

  span {
    font-family: 'urbane', monospace !important;
    font-weight: 500;
    font-size: inherit;
    display: block;
    transition: 200ms;
  }

  &:hover {
    &::before {
      opacity: 1;
      transform: translate(0%);
    }
    span {
      opacity: 0;
      transform: translateY(75%);
    }
  }
}

.btn-highlight {
  box-shadow: 1px -5px 34px 8px #b0c0c545, 3px 30px 20px 0px #b0c0c50f !important;
}

.bg-mad-grad {
  background: linear-gradient(150deg, #90f1af, #45ca8c);
}

.logo-small {
  display: none;
  height: auto;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .logo-small {
    display: flex;
  }
}

@media screen and (min-width: 1000px) {
  .logo {
    display: inline-block;
  }
}

// Hero

.navbar-active {
  background-color: white;
  box-shadow: 3px 30px 20px 0px #b0c0c50f;

  & .logo {
    padding-left: 10px;
  }
}

.navbar-fixed {
  z-index: 10000 !important;
}

.logo {
  transition: 200ms;
}

.text-section {

  & h1 {
    margin: 0;
    line-height: 1em;
    text-transform: uppercase;
    font-size: 64px;
    color: #dae7fa;
  }

  & h2 {
    margin: 0;
    line-height: 0.7em;
    text-transform: uppercase;
    font-size: 124px;
    color: #dae7fa;
    display: none;
  }

  &.right {
    top: 0% !important;
    right: 0;
    left: unset !important;
    text-align: right !important;
  }
}

.header {
  height: 92vh;
  width: 100%;
  display: block;
  overflow-x: visible;

  .hero-wrapper-1 {
    width: 60vw;
    height: 101vh;
    transform: skewX(-30deg);
    overflow: hidden;
    left: 10%;
    top: -5%;
    position: relative;

    .hero-image {
      width: 100%;
      position: relative;
      left: -21%;
      height: 110%;
      transform: skewX(30deg);
      animation: roleimage 2s;
      background-image: url('../img/hero.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }

    .hero-animator {
      width: 125%;
      position: absolute;
      right: 0%;
      top: 0;
      height: 110%;
      animation: rolein 3s forwards;
      transform: skewX(30deg);
      background-color: #45ca8c;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  & .header-content {
    position: relative;
    top: 0 !important;
    transform: none !important;
    padding-top: 50px;

    & .hero-bg {
      z-index: -1;
      border-radius: 32px;
      transform: rotate(45deg);
      position: absolute;
      background-color: #f3f7fd;
      height: 200vh;
      width: 50%;
      top: -130vh;
      right: -40%;
    }
  }
}

@keyframes rolein {
  0% {
    right: -125%;
  }

  50% {
    right: 0%;
  }

  100% {
    right: 125%;
  }
}

@keyframes roleimage {
  0% {
    opacity: 0;
  }
  59% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.how-we-work {
  position: relative;

  .image-section {

    .text-section {
      width: 50vw;
      z-index: 4;
      position: absolute;
      top: -15%;
      left: -0%;
      text-align: left;
    }

  }

  .details-section {
    z-index: 5;

    & h6 {
      font-size: 22px;
    }

    & p {
      font-size: 22px;
    }
  }

  .hero-ambient-1 {
    z-index: -2;
    border-radius: 32px;
    transform: rotate(45deg);
    position: absolute;
    background-color: #f3f7fd;
    height: 40vh;
    width: 50%;
    left: -30%;
  }

  .hero-ambient-2 {
    z-index: -2;
    border-radius: 32px;
    transform: rotate(45deg);
    position: absolute;
    background-color: #f3f7fd;
    height: 48px;
    width: 100px;
    left: -15%;
    top: -60%;
  }

  .hero-ambient-3 {
    z-index: -2;
    border-radius: 32px;
    transform: rotate(45deg);
    position: absolute;
    background-color: #f3f7fd;
    height: 48px;
    width: 100px;
    left: -5%;
    top: 150%;
  }
}

.prototype {
  position: relative;

  .image-section {
    transform-style: preserve-3d;
    perspective: 1000px;

    .text-section {
      width: 50vw;
      z-index: 4;
      position: absolute;
      top: -30%;
      left: -0%;
      text-align: left;
    }

  }

  .details-section {
    z-index: 5;

    & h6 {
      font-size: 22px;
    }

    & p {
      font-size: 22px;
    }
  }

  .hero-ambient-1 {
    z-index: -2;
    border-radius: 32px;
    transform: rotate(45deg);
    position: absolute;
    background-color: #f3f7fd;
    height: 40vh;
    width: 50%;
    left: -30%;
  }

  .hero-ambient-2 {
    z-index: -2;
    border-radius: 32px;
    transform: rotate(45deg);
    position: absolute;
    background-color: #f3f7fd;
    height: 48px;
    width: 100px;
    left: 50%;
    top: -60%;
  }

  .hero-ambient-3 {
    z-index: -2;
    border-radius: 32px;
    transform: rotate(45deg);
    position: absolute;
    background-color: #f3f7fd;
    height: 48px;
    width: 100px;
    left: -5%;
    top: 150%;
  }
}

.portfolio-item {
  position: relative;
  margin-top: 250px;

  .image-section {
    transform-style: preserve-3d;
    perspective: 1000px;

    .text-section {
      width: 50vw;
      z-index: 4;
      position: absolute;

      h2 {
        display: none;
      }

      &.left {
        top: -10%;
        left: 0;
      }

      &.right {
        top: -10%;
        right: 0;
      }
    }

  }

  .details-section {
    z-index: 5;

    & h6 {
      font-size: 22px;
    }

    & p {
      font-size: 22px;
    }
  }

  .hero-ambient-1 {
    z-index: -2;
    border-radius: 32px;
    transform: rotate(45deg);
    position: absolute;
    background-color: #f3f7fd;
    height: 40vh;
    width: 50%;
    left: -30%;
  }
}

.details {
  margin-top: 250px;
  position: relative;

  .image-section {
    transform-style: preserve-3d;
    perspective: 1000px;

    .text-section {
      width: 50vw;
      z-index: 4;
      position: absolute;
      top: -5%;
      right: 0%;
    }

  }

  .details-section {
    z-index: 5;

    & h6 {
      font-size: 22px;
    }

    & p {
      font-size: 22px;
    }
  }

  .hero-ambient-1 {
    z-index: -2;
    border-radius: 32px;
    transform: rotate(-45deg);
    position: absolute;
    background-color: #f3f7fd;
    height: 40vh;
    width: 100%;
    left: 70%;
  }

  .hero-ambient-2 {
    z-index: -2;
    border-radius: 32px;
    transform: rotate(45deg);
    position: absolute;
    background-color: #f3f7fd;
    height: 48px;
    width: 100px;
    left: 50%;
    top: -60%;
  }

  .hero-ambient-3 {
    z-index: -2;
    border-radius: 32px;
    transform: rotate(45deg);
    position: absolute;
    background-color: #f3f7fd;
    height: 48px;
    width: 100px;
    left: -5%;
    top: 150%;
  }
}

.image-display-pane {
  border-radius: 16px;
  box-shadow: 1px -5px 34px 8px #b0c0c545, 3px 30px 20px 0px #b0c0c50f;
/*
  &.right {
    transform: rotateY(20deg) rotateX(10deg) rotateZ(5deg);
    box-shadow: -17px 20px 34px 8px #b0c0c5a6, 3px 30px 20px 0px #b0c0c50f !important;
  }

  &.left {
    transform: rotateY(-20deg) rotateX(10deg) rotateZ(0deg);
    box-shadow: 17px 20px 34px 8px #b0c0c5a6, 3px 30px 20px 0px #b0c0c50f !important;
  }*/
}

.header {
  height: auto !important;
  padding-bottom: 50px;
}

@media screen and (max-width: 1000px) {

  .image-section .text-section {
    top: -20% !important;
  }
}

@media screen and (max-width: 750px) {

  .image-section .text-section {
    top: 0% !important;
  }

  .header .header-content {
    top: 70%;
    transform: translateY(-50%);
  }

  .how-we-work {
    margin-top: 200px;
  }
}

@media screen and (max-width: 634px) {

  .hero-bg {
    right: -140% !important;
  }
  .our-clients {
    display: block !important;
  
    img {
      display: block !important;
      margin-left: auto !important;
      margin-right: auto !important;
      max-width: 100%;
      height: auto;
    }
  }

  .text-section {

    & h1 {
      font-size: 32px !important;
    }

    & h2 {
      font-size: 48px !important;
    }
  }

}

@media screen and (max-height: 532px) {

  .image-section .text-section {
    top: -20% !important;
  }
}

@media screen and (max-height: 442px) {

  .image-section .text-section {
    top: 0% !important;
  }
}

@media screen and (max-width: 1350px) {

  .our-clients {
    justify-content: space-between;
    display: flex !important;
    flex-wrap: wrap;

    img {
      display: block !important;
      margin-left: auto !important;
      margin-right: auto !important;
      margin-bottom: 12px !important;
    }
  }
}

.contact-us {
  position: relative;

  &::before {
    /*content: 'GETSTARTED';*/
    color: #f3f3f3;
    font-size: 256px;
    font-weight: 900;
    bottom: -50%;
    left: -10%;
    z-index: -2;
    position: absolute;
  }

  .form-contact-us {
    width: 50%;
    height: 64px;
    box-shadow: 1px 5px 34px 8px #b0c0c545, 3px 30px 20px 0px #b0c0c50f !important;

    &:hover {
      box-shadow: 1px 5px 34px 8px #a3b2b665, 3px 30px 20px 0px #b0c0c50f !important;
    }
  }

  .btn-form {
    height: 64px;
    border-radius: 100px;
    font-size: 20px !important;
  }

  .details-section {

    & p {
      width: 100%;
    }
  }
}

@media screen and (max-width: 750px) {

  .form-contact-us {
    width: 100% !important;
  }

}

.person {
  margin: 12px 24px;
  z-index: 10;
  text-align: center;
  padding: 24px 12px;
  background-color: #f3f7fd;
  border-radius: 16px;
  position: relative;

  & img {
    background-color: #dae7fa;
    padding: 0px;
    border-radius: 1000px;
  }

  & h1 {
    margin: 0;
    z-index: 10;
    font-size: 32px;
    color: #45ca8c;
    font-weight: 400;
  }

  .role-section {
    display: inline-block;
    position: absolute;
    bottom: 12px;
    right: 12px;
    text-align: right;
    color: #dae7fa;
    z-index: -1;

    & h1 {
      margin: 0;
      line-height: 1em;
      text-transform: uppercase;
      font-size: 32px;
      font-weight: 700;
      color: #dae7fa;
    }

    & h2 {
      margin: 0;
      line-height: 0.7em;
      text-transform: uppercase;
      font-size: 64px;
      color: #dae7fa;
    }
  }
}

$grey-1: #eef1f6;
$grey-2: #73797b;

.week-row {
  border-top: 1px solid $grey-1;

  &:last-of-type {
    border-bottom: 1px solid $grey-1;
  }
}

.day {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid $grey-1;
  width: 100%;
  height: 124px;
  position: relative;

  &:last-of-type {
    border-right: 1px solid $grey-1;
  }

  &::before {
    content: attr(day-num);
    position: absolute;
    top: 4px;
    color: $grey-2;
    right: 10px;
  }
}

.day-item {
  font-size: 24px;
  font-weight: 700;
}

@for $item from 1 through 3 {
  .hero-ambient-#{$item} {
    display: none !important;  
  }
}
.fonts-large {
  color: #081f2c;
  font-size: 64px;
  font-family: Gilroy;
  font-weight: 700;
}
.fonts {
  color: #081f2c;
  font-size: 32px;
  font-family: Gilroy;
  font-weight: 700;
}
.font-reg {
  color: #081f2c !important;
  font-size: 28px !important;
  font-family: Gilroy !important;
  font-weight: 500 !important;
  display: block !important;
}
.construciton-socials {
  display: flex;
  justify-content: center;
}
.space {
  margin: 12px 24px;
}
.page-color {
  background-color: #F6F7F8;
  background-image: url(../img/branding-background.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.div-size {
  display: flex;
}
.hide {
  display: none;
  width: 48px;
}
.space {
  display: block;
}
@media only screen and (max-width: 767px) {
  .fonts-large {
    font-size: 24px;
  }
  .fonts {
    font-size: 20px;
  }
  .font-reg {
    font-size: 18px !important;
  }
  .hide {
    display: block;
  }
  .space {
    display: none !important;
  }
}